## Содержание
- [Введение](#intro)
    - [Тарифы](#rates)
- [Импортирование необходимых данных](#import)
- [Изучение данных](#analysis)
    - [Изучим типы и наличие пропусков с данных](#types_and_null_values)

## <a id='intro'></a>Введение

Заказчик — коммерческий департамент компании «Мегалайн». Исследование направленное на определение тарифа, сильнее всего влияющего на доход компании. Сравнение будет проводиться между тарифами «Смарт» и «Ультра». Результат исследования будет использоваться для корректирования рекламного бюджета.

<div id = 'rates'>
    <h2 style = "text-align: center;padding-bottom: 20px;">Тарифы</h2>
    <div style="float:left;width: 49%;"> 
        <h3>Тариф «Смарт»</h3>
        <ol>
            <li>Ежемесячная плата: 550 рублей</li>
            <li>В тариф включено:</li>
            <ul>
                <li>500 минут разговора</li>
                <li>50 сообщений</li>
                <li>15 Гб интернет-трафика</li>
            </ul>
            <li>Стоимость услуг сверх тарифного пакета:</li>
            <ul>
                <li>минута разговора: 3 рубля</li>
                <li>сообщение: 3 рубля</li>
                <li>1 Гб интернет-трафика: 200 рублей</li>
            </ul>
        </ol>
    </div>
    <div style = "margin-left: 55%;"> 
        <h3>Тариф «Ультра»</h3>
        <ol>
            <li>Ежемесячная плата: 1950 рублей</li>
            <li>В тариф включено: </li>
            <ul>
                <li>3000 минут разговора</li>
                <li>1000 сообщений</li>
                <li>30 Гб интернет-трафика</li>
            </ul>
            <li>Стоимость услуг сверх тарифного пакета:</li>
            <ul>
                <li>минута разговора: 1 рубль</li>
                <li>сообщение: 1 рубль</li>
                <li>1 Гб интернет-трафика: 150 рублей</li>
            </ul>
        </ol>
    </div>
</div>

## Импортирование необходимых данных
<a id = 'import'></a>

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
calls = pd.read_csv('calls.csv')
internet = pd.read_csv('internet.csv')
messages = pd.read_csv('messages.csv')
tariffs = pd.read_csv('tariffs.csv')
users = pd.read_csv('users.csv')

## Изучение данных
<a id = 'analysis'></a>

### Изучим типы и наличие пропусков с данных
<a id = 'types_and_null_values'></a>

In [2]:
#Создадим словарь соответствия фрейма и его имени
dictionary_with_frames ={
    'calls': calls,
    'internet': internet,
    'messages': messages,
    'tariffs': tariffs,
    'users': users 
}

In [3]:
def get_stat(dict_of_frames):
    """Функция для агрегации данных о нескольких загруженных таблицах.
    Собирает следующею информацию: количесво объектов(строк) в данных,
    количесвто null-значений и тип каждого столбца
    """
    def table(dataframe, name):
        """Функция отвечающая за создание промежуточных таблиц,
        собирая данные из конкретного переданного фрейма
        """
        columns = dataframe.columns
        count_of_rows = len(columns)
        total = dataframe.shape[0]
        
        part_total_table = pd.DataFrame(data =[[0] * 5] * count_of_rows, 
                                        columns = ['total',
                                                   'frame',
                                                   "columns",
                                                   "null_values",
                                                   "type"])
    
        part_total_table['total'] = [total] * count_of_rows
        part_total_table['frame'] = [name] * count_of_rows
        part_total_table['columns'] = columns
        
        for column in columns:
            curent_type = str(dataframe[column].dtype)
            count_of_null = dataframe[column].isnull().sum()
            part_total_table.loc[part_total_table['columns'] == column,'null_values'] = count_of_null
            part_total_table.loc[part_total_table['columns'] == column,'type'] = curent_type
        return part_total_table
        
    final_frame = pd.DataFrame(columns = ['total','frame',"columns","null_values","type"])
    
    for name,frame in dict_of_frames.items():
        part_of_table = table(frame,name)
        final_frame = final_frame.append(part_of_table)
        
    final_frame = final_frame.reset_index(drop = True)
    final_frame_grouped = final_frame.groupby(['total','frame',"columns"]).sum()
    
    return final_frame_grouped

In [4]:
get_stat(dictionary_with_frames)

                                       null_values     type
total  frame    columns
2      tariffs  mb_per_month_included            0    int64
                messages_included                0    int64
                minutes_included                 0    int64
                rub_monthly_fee                  0    int64
                rub_per_gb                       0    int64
                rub_per_message                  0    int64
                rub_per_minute                   0    int64
                tariff_name                      0   object
500    users    age                              0    int64
                churn_date                     462   object
                city                             0   object
                first_name                       0   object
                last_name                        0   object
                reg_date                         0   object
                tariff                           0   object
                user_id                          0    int64
123036 messages id                               0   object
                message_date                     0   object
                user_id                          0    int64
149396 internet Unnamed: 0                       0    int64
                id                               0   object
                mb_used                          0  float64
                session_date                     0   object
                user_id                          0    int64
202607 calls    call_date                        0   object
                duration                         0  float64
                id                               0   object
                user_id                          0    int64